mixin menu(title,type)
    li(class=type data-menuanchor=`${type}`)
        a(href=`#${type}`)=title
mixin block(type)
    div(class=`bottom-${type}`)
        .right-block
        .left-block
mixin progres(text,value)
    .col-lg-3
        div(class=`circle ${value}`)
            p=text
mixin portfolio(title,link,img)
    .col-lg-4
        .project.is-animated
            .title=title
            .picture
                img(src=`${img}`)
            .link
                a(href=`${link}`)
                    span(data-hover="Look") Look